.WormholesOverviewBox {
  width: 100%;
}
.WormholesOverviewBox_center {
  width: 1220px;
  padding-top: 100px;
  margin: auto;
}
.WormholesOverviewBox_title {
  font-size: 64px;
  color: #000000;
  margin: 0;
  font-family: Gilroy-ExtraBold;
  span {
    color: #a486fa;
  }
}
.WormholesOverviewBox_text {
  font-size: 24px;
  font-family: Manrope-Regular;
  color: #000000;
  margin-top: 30px;
}
.WormholesOverviewBox_bockbox {
  width: 1220px;
  height: 1300px;
  margin-top: 55px;
  position: relative;
}
.WormholesOverviewBox_bockbox_d1 {
  width: 647px;
  height: 422px;
  background-image: url('../../assets/images/WormholesOverview/Slice\ 866.png');
  background-size: 100% 100%;
  padding: 62px 108px 0 67px;
  position: absolute;
  top: 0;
  left: -20px;
}
.WormholesOverviewBox_bockbox_dtitle {
  font-size: 24px;
  color: #a486fa;
  font-family: Manrope-Medium;
  margin: 0;
}
.WormholesOverviewBox_bockbox_dtext {
  font-size: 16px;
  color: #000000;
  line-height: 22px;
  font-family: Manrope-Regular;
  margin-top: 10px;
}
.WormholesOverviewBox_bockbox_button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 67px;
  left: 67px;
  cursor: pointer;
  p {
    font-size: 32px;
    color: #000000;
    font-family: Manrope-Bold;
    margin: 0;
    text-decoration: underline;
    transition: 0.5s;
  }
  span {
    font-size: 32px;
    margin-left: 5px;
    color: #000000;
    transition: 0.5s;
  }
}
.WormholesOverviewBox_bockbox_button:hover {
  p {
    color: #a486fa;
  }
  span {
    color: #a486fa;
    margin-left: 15px;
  }
}
.WormholesOverviewBox_bockbox_d2 {
  width: 656px;
  height: 528px;
  background-image: url('../../assets/images/WormholesOverview/Slice\ 866.png');
  background-size: 100% 100%;
  padding: 62px 108px 0 67px;
  position: absolute;
  top: 0;
  right: -20px;
}
.WormholesOverviewBox_bockbox_d3 {
  width: 647px;
  height: 510px;
  background-image: url('../../assets/images/WormholesOverview/Slice\ 866.png');
  background-size: 100% 100%;
  padding: 62px 108px 0 67px;
  position: absolute;
  top: 380px;
  left: -20px;
}
.WormholesOverviewBox_bockbox_d4 {
  width: 656px;
  height: 380px;
  background-image: url('../../assets/images/WormholesOverview/Slice\ 866.png');
  background-size: 100% 100%;
  padding: 62px 108px 0 67px;
  position: absolute;
  top: 500px;
  right: -20px;
}
.WormholesOverviewBox_bockbox_d5 {
  width: 1260px;
  height: 392px;
  background-image: url('../../assets/images/WormholesOverview/Slice\ 868.png');
  background-size: 100% 100%;
  padding: 62px 108px 0 67px;
  position: absolute;
  top: 850px;
  left: -20px;
}
