.container {
  width: 100%;
  background-color: #f0f0f3;
  padding-top: 75px;
  padding-bottom: 100px;
  .top {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .topLeft {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-right: 40px;
      .topRightBolder {
        margin-top: 40px;
        font-family: Gilroy-ExtraBold;
        font-size: 64px;
        font-weight: 800;
        color: #000000;
        line-height: 60px;
        span {
          color: #a486fa;
        }
      }
      .topRightLight {
        padding-top: 40px;
        font-size: 20px;
        font-family: Manrope-Regular;
        font-weight: 400;
        color: #000000;
        line-height: 28px;
      }
    }
  }
  .mid {
    margin-top: 140px;
    width: 100%;
    height: 351px;
    background: #f0f0f3;
    box-shadow: 20px 20px 30px 0px rgba(201, 201, 201, 0.35),
      -20px -20px 30px 0px #ffffff;
    border-radius: 0px 0px 0px 0px;
    opacity: 1;
    .content {
      width: 1220px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .topRightBolder {
        width: 490px;
        font-family: Gilroy-ExtraBold;
        font-size: 64px;
        font-weight: 800;
        color: #000000;
        line-height: 60px;
        span {
          color: #a486fa;
        }
        .smallTitle {
          color: #000000;
          font-size: 44px;
        }
      }
      .topRightLight {
        width: 509px;
        font-size: 20px;
        font-family: Manrope-Regular;
        font-weight: 400;
        color: #000000;
        line-height: 28px;
      }
    }
  }
  .bottom {
    text-align: center;
    width: 1220px;
    margin: 180px auto;
    z-index: 2;
    .topRightBolder {
      margin-top: 40px;
      font-family: Gilroy-ExtraBold;
      font-size: 64px;
      font-weight: 800;
      color: #000000;
      line-height: 60px;
      span {
        color: #a486fa;
      }
    }
    .lineBox {
      padding-top: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 60px;
      .line {
        width: 130px;
        height: 4px;
        background: #000000;
        border-radius: 0px 0px 0px 0px;
        opacity: 1;
      }
    }
    .item {
      background-image: url('../../assets/images/AboutERB/block1.png');
      width: 1009px;
      height: 268px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 80px;
      padding-right: 140px;
      .itemLeft {
        font-size: 24px;
        font-family: Manrope-Bold;
        font-weight: bold;
        color: #000000;
        line-height: 43px;
        width: 127px;
        text-align: start;
      }
      .itemRight {
        font-size: 16px;
        font-family: Manrope-Regular;
        font-weight: 400;
        color: #000000;
        line-height: 24px;
        width: 450px;
        text-align: start;
      }
    }
    .itemboxLeft {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .itemboxRight {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
  .flow {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1220px;
    margin: 0 auto;
    // padding-bottom: 150px;
    .topLeft {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding-right: 30px;
      padding-top: 40px;
      .line {
        width: 92px;
        height: 7px;
        background-color: #a486fa;
      }
    }
    .topRight {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      .topRightBolder {
        font-family: Gilroy-ExtraBold;
        font-size: 64px;
        font-weight: 800;
        color: #000000;
        line-height: 90px;
        span {
          color: #a486fa;
        }
      }
      .topRightLight {
        font-family: Manrope-Regular;
        margin-top: 40px;
        font-size: 20px;
        font-weight: 400;
        color: #000000;
        line-height: 28px;
      }
    }
  }
  .slideBox {
    width: 1220px;
    margin: 40px auto;
    .slideTitle {
      padding-top: 15px;
      font-family: Manrope-Medium;
      font-size: 24px;
      font-weight: 500;
      color: #a486fa;
      line-height: 43px;
    }
    .content {
      padding-top: 10px;
      font-size: 16px;
      font-family: Manrope-Regular, Manrope;
      font-weight: 400;
      color: #000000;
      line-height: 24px;
      text-align: center;
    }
  }
}
.HomePageBox6_Carouselbox1 {
  width: 1220px;
  height: 526px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HomePageBox6_Carouselbox1_left {
  width: 68px;
  height: 68px;
  background-image: url('../../assets/images/AboutERB/leftnom.png');
  background-size: 100% 100%;
  margin-left: -120px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 20px 20px 30px 0px rgba(201, 201, 201, 0.35),
    -5px -5px 10px 0px #ffffff;
}
.HomePageBox6_Carouselbox1_left:hover {
  background-image: url('../../assets/images/AboutERB/left.png');
  background-size: 100% 100%;
}
.HomePageBox6_Carouselbox1_right {
  width: 68px;
  height: 68px;
  margin-right: -120px;
  cursor: pointer;
  border-radius: 50%;
  background-image: url('../../assets/images/AboutERB/rightnom.png');
  background-size: 100% 100%;
  box-shadow: 20px 20px 30px 0px rgba(201, 201, 201, 0.35),
    -5px -5px 10px 0px #ffffff;
}
.HomePageBox6_Carouselbox1_right:hover {
  background-image: url('../../assets/images/AboutERB/right.png');
  background-size: 100% 100%;
}
.HomePageBox6_Carouselbox1_centerbox {
  width: 1220px;
  height: 535px;
  overflow: hidden;
}
.HomePageBox6_Carouselbox1_centerboxlong {
  width: 2440px;
  height: 535px;
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
}
.HomePageBox6_Carouselbox1_centerboxlong_block {
  width: 1220px;
  height: 535px;
  display: flex;
  justify-content: flex-start;
}
.HomePageBox6_Carouselbox1_centerboxlong_block_d {
  width: 356px;
  height: 459px;
  //   background-image: url('../../assets/images/AboutERB/block2.png');
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  box-shadow: 20px 20px 30px 0px rgba(201, 201, 201, 0.35),
    -20px -20px 30px 0px #ffffff;
  //   .HomePageBox6_Carouselbox1_centerboxlong_block_dimg1 {
  //     width: 113px;
  //     height: 113px;
  //   }
  margin-right: 70px;
  margin-top: 40px;
  margin-bottom: 35;
  &:first-child {
    margin-left: 40px;
  }
  &:last-child {
    margin-right: 35px;
  }
  p {
    font-size: 28px;
    color: #000000;
    margin: 0;
  }
  .HomePageBox6_Carouselbox1_centerboxlong_block_dimg2 {
    width: 38px;
    height: 39px;
  }
}
