.box {
  background-color: #f0f0f3;
  overflow: hidden;
  min-width: 1440px;
}
.boxApp {
  background-color: #f0f0f3;
  overflow: hidden;
}
@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../fonts/Gilroy-ExtraBold.ttf');
}
@font-face {
  font-family: 'Manrope-Bold';
  src: url('../fonts/manrope-bold-2.ttf');
}
@font-face {
  font-family: 'Manrope-Extrabold';
  src: url('../fonts/manrope-extrabold-3.ttf');
}
@font-face {
  font-family: 'Manrope-ExtraBold';
  src: url('../fonts/manrope-extrabold-3.ttf');
}
@font-face {
  font-family: 'Manrope-Light';
  src: url('../fonts/manrope-light-4.ttf');
}
@font-face {
  font-family: 'Manrope-Medium';
  src: url('../fonts/manrope-medium-5.ttf');
}
@font-face {
  font-family: 'Manrope-Regular';
  src: url('../fonts/manrope-regular-6.ttf');
}
@font-face {
  font-family: 'Manrope-SemiBold';
  src: url('../fonts/manrope-semibold-7.ttf');
}
@font-face {
  font-family: 'Manrope-Thin';
  src: url('../fonts/manrope-thin-8.ttf');
}
