.HomePage {
  min-height: 2000px;
}
.HomePageBox {
  width: 100%;
  height: 456px;
  background-image: url('../../assets/images/HomePage/Slice\ 818.png');
  background-size: 100% 100%;
}
.HomePageBox_center {
  width: 1220px;
  height: 456px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 100px 0;
  p {
    color: #000000;
    font-size: 64px;
    margin: 0;
    font-family: Gilroy-ExtraBold;
  }
  span {
    color: #a486fa;
  }
}
.HomePageBox_Featuresbox {
  width: 1220px;
  position: relative;
  margin: auto;
  height: 1426px;
}
.HomePageBox_Featuresbox_div1 {
  width: 555px;
  height: 156px;
  background-size: 100% 100%;
  background-image: url('../../assets/images/HomePage/Slice\ 915.png');
  text-align: center;
  line-height: 156px;
  color: #000000;
  font-size: 36px;
  position: absolute;
  top: 46px;
  right: 38px;
  font-family: Gilroy-ExtraBold;
}
.HomePageBox_Featuresbox_div2 {
  width: 138px;
  height: 133px;
  background-image: url('../../assets/images/HomePage/Slice\ 827.png');
  background-size: 100% 100%;
  position: absolute;
  left: 550px;
  top: 193px;
}
.HomePageBox_Featuresbox_div3 {
  width: 523px;
  height: 258px;
  background-image: url('../../assets/images/HomePage/Slice\ 913.png');
  background-size: 100% 100%;
  padding-top: 59px;
  position: absolute;
  top: 228px;
  left: 0;
  p {
    width: 397px;
    font-size: 20px;
    font-family: Manrope-SemiBold;
    line-height: 26px;
    margin: 0px 0 0 82px;
  }
  div {
    width: 9px;
    height: 9px;
    background-color: #a486fa;
    border-radius: 50%;
    position: absolute;
    top: 69px;
    left: 65px;
  }
}
.HomePageBox_Featuresbox_div4 {
  width: 150px;
  height: 228px;
  background-image: url('../../assets/images/HomePage/Slice\ 828.png');
  background-size: 100% 100%;
  position: absolute;
  top: 328px;
  left: 490px;
}
.HomePageBox_Featuresbox_div5 {
  width: 480px;
  height: 246px;
  background-image: url('../../assets/images/HomePage/Slice\ 914.png');
  background-size: 100% 100%;
  padding-top: 66px;
  position: absolute;
  top: 262px;
  right: 60px;
  p {
    width: 350px;
    font-size: 20px;
    font-family: Manrope-SemiBold;
    line-height: 26px;
    margin: 0px 0 0 89px;
  }
  div {
    width: 9px;
    height: 9px;
    background-color: #a486fa;
    border-radius: 50%;
    position: absolute;
    top: 76px;
    left: 72px;
  }
}
.HomePageBox_Featuresbox_div6 {
  width: 138px;
  height: 133px;
  background-image: url('../../assets/images/HomePage/Slice\ 827.png');
  background-size: 100% 100%;
  position: absolute;
  left: 370px;
  top: 533px;
}
.HomePageBox_Featuresbox_div7 {
  width: 590px;
  height: 137px;
  background-image: url('../../assets/images/HomePage/Slice\ 912.png');
  background-size: 100% 100%;
  position: absolute;
  left: 490px;
  top: 579px;
}
.HomePageBox_Featuresbox_divviodebox {
  width: 1220px;
  height: 651px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HomePageBox_Featuresbox_divviode {
  width: 992px;
  height: 651px;
  background-image: url('../../assets/images/HomePage/Slice\ 829.png');
  background-size: 100% 100%;
}
.HomePageBox_Featuresbox_divbuttonbox {
  width: 317px;
  height: 320px;
}
.HomePageBox_Featuresbox_divbuttonbox_top1 {
  width: 317px;
  height: 148px;
  background-image: url('../../assets/images/HomePage/Slice\ 916.png');
  background-size: 100% 100%;
  cursor: pointer;
  font-size: 20px;
  color: #000000;
  font-family: Gilroy-ExtraBold;
  padding: 40px 0 0 47px;
  p {
    width: 210px;
  }
}
.HomePageBox_Featuresbox_divbuttonbox_top1:hover {
  background-image: url('../../assets/images/HomePage/Slice\ 916bs.png');
}
.HomePageBox_Featuresbox_divbuttonbox_top2 {
  width: 317px;
  height: 148px;
  background-image: url('../../assets/images/HomePage/Slice\ 916.png');
  background-size: 100% 100%;
  cursor: pointer;
  font-size: 20px;
  color: #a486fa;
  padding: 40px 0 0 47px;
  font-family: Gilroy-ExtraBold;
  p {
    width: 210px;
  }
}
.HomePageBox_Featuresbox_divbuttonbox_top2:hover {
  background-image: url('../../assets/images/HomePage/Slice\ 916bs.png');
}
.HomePageBox2 {
  width: 100%;
  height: 940px;
  background-image: url('../../assets/images/HomePage/Slice\ 819.png');
  background-size: 100% 100%;
}
.HomePageBox2_center {
  width: 1220px;
  height: 940px;
  margin: auto;
  padding-top: 180px;
}
.HomePageBox2_title {
  font-size: 64px;
  margin: 0;
  color: #000000;
  font-family: Gilroy-ExtraBold;
  padding-left: 34px;
  span {
    color: #a486fa;
  }
}
.HomePageBox2_box {
  width: 1220px;
  margin-top: 30px;
  padding-left: 34px;
  position: relative;
}
.HomePageBox2_box_data {
  font-family: Manrope-Regular;
  color: #000000;
  font-size: 20px;
  width: 400px;
  line-height: 26px;
}
.HomePageBox2_box_button1 {
  width: 374px;
  height: 115px;
  background-image: url('../../assets/images/HomePage/Slice\ 917.png');
  background-size: 100% 100%;
  color: #a486fa;
  line-height: 115px;
  text-align: center;
  font-family: Gilroy-ExtraBold;
  cursor: pointer;
}
.HomePageBox2_box_button1:hover {
  background-image: url('../../assets/images/HomePage/Slice\ 917bs.png');
}
.HomePageBox2_box_button2 {
  width: 374px;
  height: 115px;
  background-image: url('../../assets/images/HomePage/Slice\ 917.png');
  background-size: 100% 100%;
  color: #000000;
  line-height: 115px;
  text-align: center;
  font-family: Gilroy-ExtraBold;
  cursor: pointer;
  margin-left: 50px;
}
.HomePageBox2_box_button2:hover {
  background-image: url('../../assets/images/HomePage/Slice\ 917bs.png');
}
.HomePageBox2_box_gifbox {
  width: 782px;
  height: 493px;
  position: absolute;
  left: 450px;
  top: 60px;
  box-shadow: -20px -20px 20px #ffffff;
  img {
    width: 100%;
    height: 100%;
  }
}
.HomePageBox3 {
  width: 100%;
  height: 824px;
}
.HomePageBox3_center {
  width: 1220px;
  padding-top: 100px;
  text-align: center;
  margin: auto;
}
.HomePageBox3_title {
  font-size: 64px;
  color: #000000;
  font-family: Gilroy-ExtraBold;
  margin: 0;
  span {
    color: #a486fa;
    margin: 0;
  }
}
.HomePageBox3_line {
  width: 150px;
  height: 4px;
  background-color: #000000;
  margin: auto;
  margin-top: 21px;
}
.HomePageBox3_databox {
  width: 1220px;
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
}
.HomePageBox3_databox_block1 {
  width: 461px;
  height: 625px;
  background-size: 100% 100%;
  background-image: url('../../assets/images/HomePage/Slice\ 833.png');
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  .HomePageBox3_databox_block_title {
    width: 276px;
    color: #000000;
    font-size: 24px;
    font-family: Manrope-Medium;
  }
  .HomePageBox3_databox_block_text {
    width: 276px;
    color: #a486fa;
    font-size: 16px;
    font-family: Manrope-Regular;
    line-height: 22px;
    margin-top: -130px;
  }
}
.HomePageBox3_databox_block2 {
  width: 461px;
  height: 625px;
  background-size: 100% 100%;
  background-image: url('../../assets/images/HomePage/Slice\ 834.png');
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  .HomePageBox3_databox_block_title {
    width: 276px;
    color: #a486fa;
    font-size: 24px;
    font-family: Manrope-Medium;
  }
  .HomePageBox3_databox_block_text {
    width: 276px;
    color: #000000;
    font-size: 16px;
    font-family: Manrope-Regular;
    line-height: 22px;
    margin-top: -130px;
  }
}
.HomePageBox4 {
  width: 100%;
  height: 665px;
  background-image: url('../../assets/images/HomePage/Slice\ 820.png');
  background-size: 100% 100%;
}
.HomePageBox4_center {
  width: 1220px;
  height: 665px;
  margin: auto;
  padding-top: 93px;
  position: relative;
}
.HomePageBox4_databox {
  width: 1220px;
  display: flex;
  justify-content: space-between;
}
.HomePageBox4_databox_block {
  text-align: center;
  div {
    width: 317px;
    height: 302px;
    background-image: url('../../assets/images/HomePage/Slice\ 835.png');
    background-size: 100% 100%;
    line-height: 302px;
    font-size: 36px;
    color: #a486fa;
    font-family: Manrope-Medium;
  }
  p {
    color: #000000;
    font-size: 32px;
    font-family: Manrope-Regular;
  }
}
.HomePageBox4_button {
  font-size: 24px;
  color: #a486fa;
  font-family: Manrope-Bold;
  line-height: 96px;
  text-align: center;
  width: 357px;
  height: 96px;
  margin: auto;
  background-image: url('../../assets/images/HomePage/Slice\ 836.png');
  cursor: pointer;
}
.HomePageBox4_button:hover {
  background-image: url('../../assets/images/HomePage/Slice\ 836bs.png');
}
.HomePageBox4_img2 {
  width: 228px;
  height: 108px;
  position: absolute;
  bottom: 100px;
  left: -228px;
}
.HomePageBox4_img1 {
  width: 228px;
  height: 108px;
  position: absolute;
  top: 100px;
  right: -228px;
}
.HomePageBox5 {
  width: 1220px;
  margin: auto;
  text-align: center;
}
.HomePageBox3_videobox {
  width: 1220px;
  margin-top: 100px;
}
.HomePageBox3_videobox_title {
  width: 1220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .HomePageBox3_videobox_line {
    width: 92px;
    height: 7px;
    background-color: #000000;
  }
  .HomePageBox3_videobox_button {
    width: 350px;
    height: 139px;
    background-image: url('../../assets/images/HomePage/Slice\ 839bs.png');
    background-size: 100% 100%;
    color: #a486fa;
    line-height: 139px;
    text-align: center;
    font-size: 40px;
    font-family: Gilroy-ExtraBold;
    cursor: pointer;
  }
  .HomePageBox3_videobox_button:hover {
    background-image: url('../../assets/images/HomePage/Slice\ 839.png');
  }
  p {
    font-family: Gilroy-ExtraBold;
    font-size: 64px;
    color: #000000;
    margin: 0;
    span {
      color: #a486fa;
    }
  }
}
.HomePageBox3_video {
  width: 1220px;
  height: 751px;
  background-image: url('../../assets/images/HomePage/Slice\ 821.png');
  background-size: 100% 100%;
}
.HomePageBox6 {
  width: 100%;
  height: 1093px;
  background-image: url('../../assets/images/HomePage/Slice\ 822.png');
  background-size: 100% 100%;
}
.HomePageBox6_center {
  width: 1220px;
  margin: auto;
  padding-top: 228px;
}
.HomePageBox6_title {
  font-size: 64px;
  color: #000000;
  font-family: Gilroy-ExtraBold;
  margin: 0;
  span {
    color: #a486fa;
  }
}
.HomePageBox6_line {
  width: 131px;
  height: 5px;
  background-color: #a486fa;
  margin-top: 46px;
}
.HomePageBox6_Carouselbox1 {
  width: 1220px;
  height: 206px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HomePageBox6_Carouselbox1_left {
  width: 92px;
  height: 94px;
  background-image: url('../../assets/images/HomePage/Slice\ 840.png');
  background-size: 100% 100%;
  margin-left: -120px;
  cursor: pointer;
}
.HomePageBox6_Carouselbox1_left:hover {
  background-image: url('../../assets/images/HomePage/Slice\ 840bs.png');
}
.HomePageBox6_Carouselbox1_right {
  width: 92px;
  height: 94px;
  background-image: url('../../assets/images/HomePage/Slice\ 841.png');
  background-size: 100% 100%;
  margin-right: -120px;
  cursor: pointer;
}
.HomePageBox6_Carouselbox1_right:hover {
  background-image: url('../../assets/images/HomePage/Slice\ 841bs.png');
}
.HomePageBox6_Carouselbox1_centerbox {
  width: 1220px;
  height: 206px;
  overflow: hidden;
}
.HomePageBox6_Carouselbox1_centerboxlong {
  width: 2440px;
  height: 206px;
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
}
.HomePageBox6_Carouselbox1_centerboxlong_block {
  width: 1220px;
  height: 206px;
  display: flex;
  justify-content: space-between;
}
.HomePageBox6_Carouselbox1_centerboxlong_block_d {
  width: 437px;
  height: 206px;
  background-image: url('../../assets/images/HomePage/Slice\ 842.png');
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 55px;
  //   .HomePageBox6_Carouselbox1_centerboxlong_block_dimg1 {
  //     width: 113px;
  //     height: 113px;
  //   }
  p {
    font-size: 28px;
    color: #000000;
    margin: 0;
  }
  .HomePageBox6_Carouselbox1_centerboxlong_block_dimg2 {
    width: 38px;
    height: 39px;
  }
}
.HomePageBox6_Carouselbox2 {
  width: 1220px;
  height: 360px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HomePageBox6_Carouselbox2_left {
  width: 92px;
  height: 94px;
  background-image: url('../../assets/images/HomePage/Slice\ 840.png');
  background-size: 100% 100%;
  margin-left: -120px;
  cursor: pointer;
}
.HomePageBox6_Carouselbox2_left:hover {
  background-image: url('../../assets/images/HomePage/Slice\ 840bs.png');
}
.HomePageBox6_Carouselbox2_right {
  width: 92px;
  height: 94px;
  background-image: url('../../assets/images/HomePage/Slice\ 841.png');
  background-size: 100% 100%;
  margin-right: -120px;
  cursor: pointer;
}
.HomePageBox6_Carouselbox2_right:hover {
  background-image: url('../../assets/images/HomePage/Slice\ 841bs.png');
}
.HomePageBox6_Carouselbox2_centerbox {
  width: 1220px;
  height: 360px;
  overflow: hidden;
}
.HomePageBox6_Carouselbox2_centerboxlong {
  width: 3660px;
  height: 360px;
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
}
.HomePageBox6_Carouselbox2_centerboxlong_block {
  width: 1220px;
  height: 360px;
  display: flex;
  justify-content: space-between;
}
.HomePageBox6_Carouselbox2_centerboxlong_block_d {
  width: 634px;
  height: 360px;
  background-image: url('../../assets/images/HomePage/Slice\ 848.png');
  background-size: 100% 100%;
  position: relative;
  padding-top: 106px;
}
.HomePageBox6_Carouselbox2_centerboxlong_block_d_dh {
  width: 100px;
  height: 90px;
  position: absolute;
  top: 50px;
  left: 50px;
}
.HomePageBox6_Carouselbox2_centerboxlong_block_d_data {
  width: 460px;
  margin: 0 auto;
  font-size: 14px;
  color: #000000;
  font-family: Manrope-Regular;
  line-height: 20px;
}
.HomePageBox6_Carouselbox2_centerboxlong_block_d_bottombox {
  width: 460px;
  position: absolute;
  bottom: 56px;
  left: 73px;
}
.HomePageBox6_Carouselbox2_centerboxlong_block_d_bottomboximg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  margin-right: 33px;
}
.HomePageBox6_Carouselbox2_centerboxlong_block_d_span1 {
  float: left;
  width: 300px;
  color: #a486fa;
  font-size: 36px;
  font-family: Gilroy-ExtraBold;
  margin: 0;
}
.HomePageBox6_Carouselbox2_centerboxlong_block_d_span2 {
  float: left;
  width: 300px;
  color: #000000;
  font-size: 24px;
  font-family: Manrope-Bold;
  margin: 0;
}
.HomePageBox7 {
  width: 1220px;
  height: 1841px;
  position: relative;
  margin: auto;
  padding-top: 100px;
}
.HomePageBox7_title {
  font-size: 64px;
  color: #000000;
  font-family: Gilroy-ExtraBold;
  text-align: center;
  margin: 0;
}
.HomePageBox7_line {
  width: 150px;
  height: 4px;
  background-color: #000000;
  margin: auto;
  margin-top: 20px;
}
.HomePageBox7_databox {
  width: 1220px;
  position: relative;
}
.HomePageBox7_databox_d1 {
  font-size: 40px;
  color: #000000;
  font-family: Manrope-Bold;
  width: 193px;
  height: 193px;
  line-height: 193px;
  text-align: center;
  position: absolute;
  top: 30px;
  left: 515px;
  background-size: 100% 100%;
  background-image: url('../../assets/images/HomePage/Slice\ 849.png');
  border-radius: 50%;
}
.HomePageBox7_databox_d2 {
  font-size: 36px;
  font-family: Gilroy-ExtraBold;
  color: #a486fa;
  width: 415px;
  height: 137px;
  line-height: 137px;
  text-align: center;
  background-image: url('../../assets/images/HomePage/Slice\ 851.png');
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: 87px;
}
.HomePageBox7_databox_d3 {
  font-size: 36px;
  font-family: Gilroy-ExtraBold;
  color: #a486fa;
  width: 400px;
  height: 129px;
  line-height: 129px;
  text-align: center;
  background-image: url('../../assets/images/HomePage/Slice\ 850.png');
  background-size: 100% 100%;
  position: absolute;
  top: 55px;
  left: 130px;
}
.HomePageBox7_databox_d4 {
  width: 425px;
  height: 184px;
  background-image: url('../../assets/images/HomePage/Slice\ 852.png');
  background-size: 100% 100%;
  position: absolute;
  top: 117px;
  right: 100px;
  padding: 47px 0 0 61px;
}
.HomePageBox7_databox_dy {
  width: 7px;
  height: 7px;
  background-color: #a486fa;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 40px;
}
.HomePageBox7_databox_dname {
  font-size: 24px;
  color: #000000;
  font-family: Manrope-Bold;
  margin: 0;
}
.HomePageBox7_databox_dtext {
  font-size: 14px;
  color: #000000;
  font-family: Manrope-Regular;
  width: 300px;
  line-height: 20px;
}
.HomePageBox7_databox_d5 {
  width: 425px;
  height: 184px;
  background-image: url('../../assets/images/HomePage/Slice\ 853.png');
  background-size: 100% 100%;
  position: absolute;
  top: 160px;
  left: 90px;
  padding: 47px 0 0 61px;
}
.HomePageBox7_databox_d6 {
  width: 172px;
  height: 241px;
  position: absolute;
  top: 225px;
  left: 585px;
}
