.HomePage {
  min-height: 2000px;
}
.HomePageBox {
  width: 100%;
  height: 456px;
  background-image: url('../../assets/images/HomePage/Slice\ 818.png');
  background-size: 100% 100%;
}
.HomePageBox_center {
  width: 1220px;
  height: 456px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 100px 0;
  p {
    color: #000000;
    font-size: 64px;
    margin: 0;
    font-family: Gilroy-ExtraBold;
  }
  span {
    color: #a486fa;
  }
}
.HomePageBox_Featuresbox {
  width: 1220px;
  position: relative;
  margin: auto;
  height: 1426px;
}
.HomePageBox_Featuresbox_div1 {
  width: 555px;
  height: 156px;
  background-size: 100% 100%;
  background-image: url('../../assets/images/HomePage/Slice\ 915.png');
  text-align: center;
  line-height: 156px;
  color: #000000;
  font-size: 36px;
  position: absolute;
  top: 46px;
  right: 38px;
  font-family: Gilroy-ExtraBold;
}
.HomePageBox_Featuresbox_div2 {
  width: 138px;
  height: 133px;
  background-image: url('../../assets/images/HomePage/Slice\ 827.png');
  background-size: 100% 100%;
  position: absolute;
  left: 550px;
  top: 193px;
}
.HomePageBox_Featuresbox_div3 {
  width: 523px;
  height: 258px;
  background-image: url('../../assets/images/HomePage/Slice\ 913.png');
  background-size: 100% 100%;
  padding-top: 59px;
  position: absolute;
  top: 228px;
  left: 0;
  p {
    width: 397px;
    font-size: 20px;
    font-family: Manrope-SemiBold;
    line-height: 26px;
    margin: 0px 0 0 82px;
  }
  div {
    width: 9px;
    height: 9px;
    background-color: #a486fa;
    border-radius: 50%;
    position: absolute;
    top: 69px;
    left: 65px;
  }
}
.HomePageBox_Featuresbox_div4 {
  width: 150px;
  height: 228px;
  background-image: url('../../assets/images/HomePage/Slice\ 828.png');
  background-size: 100% 100%;
  position: absolute;
  top: 328px;
  left: 490px;
}
.HomePageBox_Featuresbox_div5 {
  width: 480px;
  height: 246px;
  background-image: url('../../assets/images/HomePage/Slice\ 914.png');
  background-size: 100% 100%;
  padding-top: 66px;
  position: absolute;
  top: 262px;
  right: 60px;
  p {
    width: 350px;
    font-size: 20px;
    font-family: Manrope-SemiBold;
    line-height: 26px;
    margin: 0px 0 0 89px;
  }
  div {
    width: 9px;
    height: 9px;
    background-color: #a486fa;
    border-radius: 50%;
    position: absolute;
    top: 76px;
    left: 72px;
  }
}
.HomePageBox_Featuresbox_div6 {
  width: 138px;
  height: 133px;
  background-image: url('../../assets/images/HomePage/Slice\ 827.png');
  background-size: 100% 100%;
  position: absolute;
  left: 370px;
  top: 533px;
}
.HomePageBox_Featuresbox_div7 {
  width: 590px;
  height: 137px;
  background-image: url('../../assets/images/HomePage/Slice\ 912.png');
  background-size: 100% 100%;
  position: absolute;
  left: 490px;
  top: 579px;
}
.HomePageBox_Featuresbox_divviodebox {
  width: 1220px;
  height: 651px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HomePageBox_Featuresbox_divviode {
  width: 992px;
  height: 651px;
  background-image: url('../../assets/images/HomePage/Slice\ 829.png');
  background-size: 100% 100%;
}
.HomePageBox_Featuresbox_divbuttonbox {
  width: 317px;
  height: 320px;
}
.HomePageBox_Featuresbox_divbuttonbox_top1 {
  width: 317px;
  height: 148px;
  background-image: url('../../assets/images/HomePage/Slice\ 916.png');
  background-size: 100% 100%;
  cursor: pointer;
  font-size: 20px;
  color: #000000;
  font-family: Gilroy-ExtraBold;
  padding: 40px 0 0 47px;
  p {
    width: 200px;
  }
}
.HomePageBox_Featuresbox_divbuttonbox_top2 {
  width: 317px;
  height: 148px;
  background-image: url('../../assets/images/HomePage/Slice\ 916bs.png');
  background-size: 100% 100%;
  cursor: pointer;
  font-size: 20px;
  color: #a486fa;
  padding: 40px 0 0 47px;
  font-family: Gilroy-ExtraBold;
  p {
    width: 200px;
  }
}
.HomePageBox2 {
  width: 100%;
  height: 940px;
  background-image: url('../../assets/images/HomePage/Slice\ 819.png');
  background-size: 100% 100%;
}
.HomePageBox2_center {
  width: 1220px;
  height: 940px;
  margin: auto;
  padding-top: 180px;
}
.HomePageBox2_title {
  font-size: 64px;
  margin: 0;
  color: #000000;
  font-family: Gilroy-ExtraBold;
  span {
    color: #a486fa;
  }
}
