.container {
  width: 100%;
  background-color: #f0f0f3;
  padding-top: 75px;
  .content {
    width: 1220px;
    margin: 0 auto;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      .topLeft {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-right: 30px;
        padding-top: 20px;
        .line {
          width: 92px;
          height: 7px;
          background-color: #a486fa;
        }
      }
      .topRight {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        .topRightBold {
          font-size: 32px;
          font-family: Gilroy-ExtraBold;
          font-weight: 800;
          color: #000000;
          line-height: 45px;
        }
        .topRightBolder {
          margin-top: 20px;
          font-family: Gilroy-ExtraBold;
          font-size: 64px;
          font-weight: 800;
          color: #000000;
          line-height: 60px;
          span {
            color: #a486fa;
          }
        }
        .topRightLight {
          font-family: Manrope-Regular;
          margin-top: 40px;
          font-size: 20px;
          font-weight: 400;
          color: #000000;
          line-height: 28px;
        }
      }
    }
    .circle {
      padding-top: 100px;
      padding-bottom: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      .out {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1186px;
        width: 1220px;
        position: relative;
        overflow: hidden;
        .dot {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background-color: #a486fa;
        }
        .text {
          font-family: Manrope-SemiBold;
          font-size: 15px;
          font-weight: 400;
          color: #000000;
          line-height: 18px;
        }
        .outtop1 {
          position: absolute;
          top: -13px;
          left: 336px;
          .dot {
            position: absolute;
            top: 100px;
            left: 450px;
          }
          .text {
            width: 230px;
            position: absolute;
            top: 170px;
            left: 159px;
          }
        }
        .outleft1 {
          position: absolute;
          top: 121px;
          left: -5px;
          .dot {
            position: absolute;
            top: 64px;
            left: 268px;
          }
          .text {
            width: 230px;
            position: absolute;
            top: 274px;
            left: 149px;
          }
        }
        .outleft2 {
          position: absolute;
          top: 550px;
          left: -7px;
          .dot {
            position: absolute;
            top: 105px;
            left: 87px;
          }
          .text {
            width: 246px;
            position: absolute;
            top: 182px;
            left: 157px;
          }
        }
        .outleft3 {
          position: absolute;
          top: 757px;
          left: 355px;
          .dot {
            position: absolute;
            top: 315px;
            left: 58px;
          }
          .text {
            width: 248px;
            position: absolute;
            top: 179px;
            left: 144px;
          }
        }
        .outright1 {
          position: absolute;
          top: 105px;
          left: 704px;
          .dot {
            position: absolute;
            top: 398px;
            left: 415px;
          }
          .text {
            width: 248px;
            position: absolute;
            top: 217px;
            left: 121px;
          }
        }
        .outright2 {
          position: absolute;
          top: 543px;
          left: 723px;
          .dot {
            position: absolute;
            top: 440px;
            left: 238px;
          }
          .text {
            width: 255px;
            position: absolute;
            top: 194px;
            left: 119px;
          }
        }
        .outright3 {
          position: absolute;
          top: 723px;
          left: 603px;
          .dot {
            position: absolute;
            top: 408px;
            left: 130px;
          }
          .text {
            width: 245px;
            position: absolute;
            top: 190px;
            left: 116px;
          }
        }
        .in {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 534px;
          height: 537px;
          background-image: url('../../assets/images/ecosystem/circleIN.png');
          .intop1 {
            position: absolute;
            top: 55px;
            left: 163px;
            .number {
              position: absolute;
              top: 40px;
              left: 73px;
            }
          }
          .inleft1 {
            position: absolute;
            top: 90px;
            left: 52px;
            .number {
              position: absolute;
              top: 80px;
              left: 52px;
            }
          }
          .inleft2 {
            position: absolute;
            top: 250px;
            left: 32px;
            .number {
              position: absolute;
              top: 70px;
              left: 74px;
            }
          }
          .inleft3 {
            position: absolute;
            top: 339px;
            left: 170px;
            .number {
              position: absolute;
              top: 53px;
              left: 77px;
            }
          }
          .inright1 {
            position: absolute;
            top: 83px;
            left: 293px;
            .number {
              position: absolute;
              top: 86px;
              left: 77px;
            }
          }
          .inright2 {
            position: absolute;
            top: 243px;
            left: 327px;
            .number {
              position: absolute;
              top: 71px;
              left: 50px;
            }
          }
          .inright3 {
            position: absolute;
            top: 285px;
            left: 220px;
            .number {
              position: absolute;
              top: 50px;
              left: 60px;
            }
          }
          .round {
            width: 242px;
            height: 233px;
            background-image: url('../../assets/images/ecosystem/circle.png');
            display: flex;
            justify-content: center;
            align-items: center;
            .roundButton {
              .roundText {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                  width: 86px;
                  height: 91px;
                  margin-left: -10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
