.page {
  position: relative;
  width: 100vw;
  height: 47.19vw;
  overflow: hidden;
}

.section_1 {
  background-image: url(./img/64ff08409ea942f883878281a18b39ee_mergeImage.png);
  height: 47.19vw;
  width: 100vw;
  position: relative;
}

.block_2 {
  width: 53.44vw;
  height: 1.05vw;
  margin: 5.88vw 0 0 19.11vw;
}

.text-wrapper_4 {
  height: 1.05vw;
  background: url(./img/SketchPngf7169c2c510af4cf6893ff4d8884671ea2406c1f70c7051af00ff846e5ef8c8a.png)
    0vw -0.06vw no-repeat;
  background-size: 1.71vw 1.09vw;
  width: 1.67vw;
}

.text_13 {
  width: 0.73vw;
  height: 0.79vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.73vw;
  margin: 0.15vw 0 0 0.46vw;
}

.text-wrapper_5 {
  height: 1.05vw;
  background: url(./img/SketchPngf7169c2c510af4cf6893ff4d8884671ea2406c1f70c7051af00ff846e5ef8c8a.png)
    0vw -0.06vw no-repeat;
  background-size: 1.71vw 1.09vw;
  margin-left: 4.07vw;
  width: 1.67vw;
}

.text_15 {
  width: 0.79vw;
  height: 0.79vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.73vw;
  margin: 0.15vw 0 0 0.46vw;
}

.text-wrapper_6 {
  height: 1.05vw;
  background: url(./img/SketchPngf7169c2c510af4cf6893ff4d8884671ea2406c1f70c7051af00ff846e5ef8c8a.png)
    0vw -0.06vw no-repeat;
  background-size: 1.71vw 1.09vw;
  margin-left: 17.04vw;
  width: 1.67vw;
}

.text_21 {
  width: 0.84vw;
  height: 0.79vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.73vw;
  margin: 0.15vw 0 0 0.46vw;
}

.text-wrapper_9 {
  height: 1.05vw;
  background: url(./img/SketchPngf7169c2c510af4cf6893ff4d8884671ea2406c1f70c7051af00ff846e5ef8c8a.png)
    0vw -0.06vw no-repeat;
  background-size: 1.71vw 1.09vw;
  margin-left: 25.68vw;
  width: 1.67vw;
}

.text_27 {
  width: 0.84vw;
  height: 0.79vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.73vw;
  margin: 0.15vw 0 0 0.46vw;
}

.block_3 {
  width: 60.94vw;
  height: 11.83vw;
  margin: 0.52vw 0 0 19.11vw;
}

.text_14 {
  width: 2.3vw;
  height: 2.14vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.72vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 1.05vw;
}

.group_23 {
  width: 15.16vw;
  height: 11.83vw;
  margin-left: 3.44vw;
}

.text_16 {
  width: 6.46vw;
  height: 1.1vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.72vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.05vw;
}

.text_17 {
  width: 15.16vw;
  height: 1.88vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 0.89vw;
  margin-top: 0.32vw;
}

.box_4 {
  width: 8.18vw;
  height: 0.79vw;
  margin: 1.35vw 0 0 1.82vw;
}

.text_18 {
  width: 2.61vw;
  height: 0.79vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.73vw;
}

.thumbnail_1 {
  width: 0.63vw;
  height: 0.63vw;
  margin-left: 1.15vw;
}

.text-group_3 {
  width: 3.39vw;
  height: 0.79vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.73vw;
  margin-left: 0.42vw;
}

.text_19 {
  width: 6.46vw;
  height: 1.1vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.72vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 5.31vw 0 0 3.9vw;
}

.group_24 {
  width: 13.65vw;
  height: 11.62vw;
  margin-left: 2.97vw;
}

.text_22 {
  width: 5.37vw;
  height: 1.1vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.72vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.05vw;
  margin-left: 0.58vw;
}

.text_23 {
  width: 8.81vw;
  height: 1.88vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 0.89vw;
  margin: 0.31vw 0 0 0.57vw;
}

.box_5 {
  width: 13.65vw;
  height: 3.7vw;
  margin-top: 4.64vw;
}

.section_7 {
  box-shadow: -20px -20px 30px 0px rgba(255, 255, 255, 1);
  height: 3.7vw;
  width: 5.16vw;
}

.text-wrapper_19 {
  height: 3.7vw;
  background: url(./img/SketchPng0cbe5870b00d3d0de4cc01f364136ee6060ce66434159f5eaa8be71736151514.png) -0.53vw -0.53vw
    no-repeat;
  background-size: 8.28vw 6.82vw;
  width: 5.16vw;
}

.text_65 {
  width: 3.91vw;
  height: 1.1vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.72vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 1.51vw 0 0 0.57vw;
}

.text_25 {
  width: 7.14vw;
  height: 1.72vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.57vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: right;
  line-height: 0.84vw;
  margin-top: 1.72vw;
}

.group_25 {
  width: 4.59vw;
  height: 2.66vw;
  margin: 8.54vw 0 0 2.29vw;
}

.text-wrapper_8 {
  height: 1.05vw;
  background: url(./img/SketchPngf7169c2c510af4cf6893ff4d8884671ea2406c1f70c7051af00ff846e5ef8c8a.png)
    0vw -0.06vw no-repeat;
  background-size: 1.71vw 1.09vw;
  width: 1.67vw;
}

.text_26 {
  width: 0.79vw;
  height: 0.79vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.73vw;
  margin: 0.15vw 0 0 0.46vw;
}

.text-group_6 {
  width: 4.59vw;
  height: 1.1vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.72vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.05vw;
  margin-top: 0.53vw;
}

.text-wrapper_10 {
  height: 6.62vw;
  background: url(./img/SketchPngb8913541b0b889cf7113fea4a2215bea8cfd53f46a9927ff9530e88db94234cd.png)
    0vw 0vw no-repeat;
  background-size: 6.66vw 6.66vw;
  width: 6.62vw;
  margin: 1.4vw 0 0 0.46vw;
}

.text_31 {
  width: 5.99vw;
  height: 6.1vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.57vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: right;
  line-height: 0.84vw;
  margin: -0.88vw 0 0 -0.15vw;
}

.text-wrapper_28 {
  width: 9.17vw;
  height: 10vw;
  margin-left: 0.32vw;
}

.text_28 {
  width: 6.57vw;
  height: 1.1vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.72vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.05vw;
}

.text_29 {
  width: 7.19vw;
  height: 0.94vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.89vw;
  margin-top: 0.32vw;
}

.text_30 {
  width: 6.36vw;
  height: 0.94vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.89vw;
  margin-top: 0.37vw;
}

.text_32 {
  width: 8.55vw;
  height: 1.1vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.72vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.05vw;
  margin: 1.82vw 0 0 0.62vw;
}

.text_33 {
  width: 7.77vw;
  height: 2.77vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 0.89vw;
  margin: 0.67vw 0 0 1.25vw;
}

.text-wrapper_29 {
  width: 3.39vw;
  height: 0.94vw;
  margin: 0.26vw 0 0 30.52vw;
}

.text_20 {
  width: 3.39vw;
  height: 0.94vw;
  overflow-wrap: break-word;
  color: rgba(164, 134, 250, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.89vw;
}

.block_4 {
  width: 36.05vw;
  height: 7.09vw;
  margin: 0.2vw 0 0 42.96vw;
}

.text_34 {
  width: 5vw;
  height: 1.1vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.72vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.05vw;
  margin-top: 5.99vw;
}

.text-wrapper_11 {
  width: 10vw;
  height: 6.88vw;
  background: url(./img/SketchPng6ef3d6aa5edfa5dc91ff5149983667154b0dce1e49c00eb9e9a6cc544e43d0cf.png)
    0vw -0.06vw no-repeat;
  background-size: 10.05vw 6.92vw;
  margin-left: 0.58vw;
}

.text_35 {
  width: 2.56vw;
  height: 1.93vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.57vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 0.84vw;
  margin: 1.87vw 0 0 3.38vw;
}

.text_36 {
  width: 4.28vw;
  height: 2.82vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.57vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 0.84vw;
  margin: -1.14vw 0 1.4vw 3.8vw;
}

.text_37 {
  width: 6.88vw;
  height: 2.77vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 0.89vw;
  margin: 2.6vw 0 0 13.59vw;
}

.text-wrapper_30 {
  width: 4.43vw;
  height: 2.56vw;
  margin: 0.93vw 0 0 63.54vw;
}

.text_38 {
  width: 4.43vw;
  height: 2.56vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.57vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: right;
  line-height: 0.84vw;
}

.text-wrapper_31 {
  width: 2.45vw;
  height: 0.89vw;
  margin: 0.62vw 0 0 42.81vw;
}

.text_39 {
  width: 2.45vw;
  height: 0.89vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.57vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.84vw;
}

.block_5 {
  width: 37.19vw;
  height: 3.91vw;
  margin: 3.12vw 0 7.39vw 24.84vw;
}

.image-text_16 {
  width: 9.64vw;
  height: 3.91vw;
}

.text-wrapper_12 {
  height: 1.05vw;
  background: url(./img/SketchPngf7169c2c510af4cf6893ff4d8884671ea2406c1f70c7051af00ff846e5ef8c8a.png)
    0vw -0.06vw no-repeat;
  background-size: 1.71vw 1.09vw;
  width: 1.67vw;
}

.text_40 {
  width: 0.84vw;
  height: 0.79vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.73vw;
  margin: 0.15vw 0 0 0.46vw;
}

.text-group_19 {
  width: 9.64vw;
  height: 2.35vw;
  margin-top: 0.53vw;
}

.text_41 {
  width: 4.02vw;
  height: 1.1vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.72vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.05vw;
}

.text_42 {
  width: 9.64vw;
  height: 0.94vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.89vw;
  margin-top: 0.32vw;
}

.text_43 {
  width: 4.43vw;
  height: 0.89vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.57vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.84vw;
  margin: 1.35vw 0 0 2.55vw;
}

.image-text_17 {
  width: 3.75vw;
  height: 2.66vw;
  margin-left: 2.09vw;
}

.text-wrapper_13 {
  height: 1.05vw;
  background: url(./img/SketchPngf7169c2c510af4cf6893ff4d8884671ea2406c1f70c7051af00ff846e5ef8c8a.png)
    0vw -0.06vw no-repeat;
  background-size: 1.71vw 1.09vw;
  width: 1.67vw;
}

.text_44 {
  width: 0.79vw;
  height: 0.79vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.73vw;
  margin: 0.15vw 0 0 0.46vw;
}

.text-group_11 {
  width: 3.75vw;
  height: 1.1vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.72vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.05vw;
  margin-top: 0.53vw;
}

.text_45 {
  width: 3.18vw;
  height: 2.56vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.57vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: right;
  line-height: 0.84vw;
  margin: 1.25vw 0 0 7.18vw;
}

.image-text_18 {
  width: 3.13vw;
  height: 2.66vw;
  margin-left: 1.25vw;
}

.text-wrapper_14 {
  height: 1.05vw;
  background: url(./img/SketchPngf7169c2c510af4cf6893ff4d8884671ea2406c1f70c7051af00ff846e5ef8c8a.png)
    0vw -0.06vw no-repeat;
  background-size: 1.71vw 1.09vw;
  width: 1.67vw;
}

.text_46 {
  width: 0.84vw;
  height: 0.79vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.62vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.73vw;
  margin: 0.15vw 0 0 0.46vw;
}

.text-group_12 {
  width: 3.13vw;
  height: 1.1vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.72vw;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 1.05vw;
  margin-top: 0.53vw;
}

.text-wrapper_18 {
  height: 8.18vw;
  background: url(./img/SketchPng0d105ff46754f20b54d59ffd87112e89ee61f4d73c09f0c87a2cd93f3bd8b0b9.png) -0.06vw
    0vw no-repeat;
  background-size: 12.76vw 8.22vw;
  width: 12.71vw;
  position: absolute;
  left: 47.14vw;
  top: 27.3vw;
}

.text_64 {
  width: 2.4vw;
  height: 2.19vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.57vw;
  font-family: HarmonyOS_Sans_Medium;
  font-weight: NaN;
  text-align: left;
  line-height: 0.84vw;
  margin: 2.18vw 0 0 5.31vw;
}
