html {
  font-size: 37.5px;
}

.page {
  position: relative;
  width: 51.2rem;
  height: 24.16rem;
  overflow: hidden;
}

.section_1 {
  background-image: url(./img/64ff08409ea942f883878281a18b39ee_mergeImage.png);
  height: 24.16rem;
  width: 51.2rem;
  position: relative;
}

.block_2 {
  width: 27.36rem;
  height: 0.534rem;
  margin: 3.014rem 0 0 9.787rem;
}

.text-wrapper_4 {
  height: 0.534rem;
  background: url(./img/SketchPngf7169c2c510af4cf6893ff4d8884671ea2406c1f70c7051af00ff846e5ef8c8a.png)
    0rem -0.027rem no-repeat;
  background-size: 0.88rem 0.56rem;
  width: 0.854rem;
}

.text_13 {
  width: 0.374rem;
  height: 0.4rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.08rem 0 0 0.24rem;
}

.text-wrapper_5 {
  height: 0.534rem;
  background: url(./img/SketchPngf7169c2c510af4cf6893ff4d8884671ea2406c1f70c7051af00ff846e5ef8c8a.png)
    0rem -0.027rem no-repeat;
  background-size: 0.88rem 0.56rem;
  margin-left: 2.08rem;
  width: 0.854rem;
}

.text_15 {
  width: 0.4rem;
  height: 0.4rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.08rem 0 0 0.24rem;
}

.text-wrapper_6 {
  height: 0.534rem;
  background: url(./img/SketchPngf7169c2c510af4cf6893ff4d8884671ea2406c1f70c7051af00ff846e5ef8c8a.png)
    0rem -0.027rem no-repeat;
  background-size: 0.88rem 0.56rem;
  margin-left: 8.72rem;
  width: 0.854rem;
}

.text_21 {
  width: 0.427rem;
  height: 0.4rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.08rem 0 0 0.24rem;
}

.text-wrapper_9 {
  height: 0.534rem;
  background: url(./img/SketchPngf7169c2c510af4cf6893ff4d8884671ea2406c1f70c7051af00ff846e5ef8c8a.png)
    0rem -0.027rem no-repeat;
  background-size: 0.88rem 0.56rem;
  margin-left: 13.147rem;
  width: 0.854rem;
}

.text_27 {
  width: 0.427rem;
  height: 0.4rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.08rem 0 0 0.24rem;
}

.block_3 {
  width: 31.2rem;
  height: 6.054rem;
  margin: 0.267rem 0 0 9.787rem;
}

.text_14 {
  width: 1.174rem;
  height: 1.094rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.373rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 0.534rem;
}

.group_23 {
  width: 7.76rem;
  height: 6.054rem;
  margin-left: 1.76rem;
}

.text_16 {
  width: 3.307rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.373rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.text_17 {
  width: 7.76rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 0.454rem;
  margin-top: 0.16rem;
}

.box_4 {
  width: 4.187rem;
  height: 0.4rem;
  margin: 0.694rem 0 0 0.934rem;
}

.text_18 {
  width: 1.334rem;
  height: 0.4rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
}

.thumbnail_1 {
  width: 0.32rem;
  height: 0.32rem;
  margin-left: 0.587rem;
}

.text-group_3 {
  width: 1.734rem;
  height: 0.4rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin-left: 0.214rem;
}

.text_19 {
  width: 3.307rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.373rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 2.72rem 0 0 2rem;
}

.group_24 {
  width: 6.987rem;
  height: 5.947rem;
  margin-left: 1.52rem;
}

.text_22 {
  width: 2.747rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.373rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-left: 0.294rem;
}

.text_23 {
  width: 4.507rem;
  height: 0.96rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 0.454rem;
  margin: 0.16rem 0 0 0.294rem;
}

.box_5 {
  width: 6.987rem;
  height: 1.894rem;
  margin-top: 2.374rem;
}

.section_7 {
  box-shadow: -20px -20px 30px 0px rgba(255, 255, 255, 1);
  height: 1.894rem;
  width: 2.64rem;
}

.text-wrapper_19 {
  height: 1.894rem;
  background: url(./img/SketchPng0cbe5870b00d3d0de4cc01f364136ee6060ce66434159f5eaa8be71736151514.png) -0.267rem -0.267rem
    no-repeat;
  background-size: 4.24rem 3.494rem;
  width: 2.64rem;
}

.text_65 {
  width: 2rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.373rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.774rem 0 0 0.294rem;
}

.text_25 {
  width: 3.654rem;
  height: 0.88rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.293rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: right;
  line-height: 0.427rem;
  margin-top: 0.88rem;
}

.group_25 {
  width: 2.347rem;
  height: 1.36rem;
  margin: 4.374rem 0 0 1.174rem;
}

.text-wrapper_8 {
  height: 0.534rem;
  background: url(./img/SketchPngf7169c2c510af4cf6893ff4d8884671ea2406c1f70c7051af00ff846e5ef8c8a.png)
    0rem -0.027rem no-repeat;
  background-size: 0.88rem 0.56rem;
  width: 0.854rem;
}

.text_26 {
  width: 0.4rem;
  height: 0.4rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.08rem 0 0 0.24rem;
}

.text-group_6 {
  width: 2.347rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.373rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-top: 0.267rem;
}

.text-wrapper_10 {
  height: 3.387rem;
  background: url(./img/SketchPngb8913541b0b889cf7113fea4a2215bea8cfd53f46a9927ff9530e88db94234cd.png)
    0rem 0rem no-repeat;
  background-size: 3.414rem 3.414rem;
  width: 3.387rem;
  margin: 0.72rem 0 0 0.24rem;
}

.text_31 {
  width: 3.067rem;
  height: 3.12rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.293rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: right;
  line-height: 0.427rem;
  margin: -0.454rem 0 0 -0.08rem;
}

.text-wrapper_28 {
  width: 4.694rem;
  height: 5.12rem;
  margin-left: 0.16rem;
}

.text_28 {
  width: 3.36rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.373rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.text_29 {
  width: 3.68rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin-top: 0.16rem;
}

.text_30 {
  width: 3.254rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin-top: 0.187rem;
}

.text_32 {
  width: 4.374rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.373rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin: 0.934rem 0 0 0.32rem;
}

.text_33 {
  width: 3.974rem;
  height: 1.414rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 0.454rem;
  margin: 0.347rem 0 0 0.64rem;
}

.text-wrapper_29 {
  width: 1.734rem;
  height: 0.48rem;
  margin: 0.134rem 0 0 15.627rem;
}

.text_20 {
  width: 1.734rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(164, 134, 250, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
}

.block_4 {
  width: 18.454rem;
  height: 3.627rem;
  margin: 0.107rem 0 0 22rem;
}

.text_34 {
  width: 2.56rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.373rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-top: 3.067rem;
}

.text-wrapper_11 {
  width: 5.12rem;
  height: 3.52rem;
  background: url(./img/SketchPng6ef3d6aa5edfa5dc91ff5149983667154b0dce1e49c00eb9e9a6cc544e43d0cf.png)
    0rem -0.027rem no-repeat;
  background-size: 5.147rem 3.547rem;
  margin-left: 0.294rem;
}

.text_35 {
  width: 1.307rem;
  height: 0.987rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.293rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 0.427rem;
  margin: 0.96rem 0 0 1.734rem;
}

.text_36 {
  width: 2.187rem;
  height: 1.44rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.293rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 0.427rem;
  margin: -0.587rem 0 0.72rem 1.947rem;
}

.text_37 {
  width: 3.52rem;
  height: 1.414rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  line-height: 0.454rem;
  margin: 1.334rem 0 0 6.96rem;
}

.text-wrapper_30 {
  width: 2.267rem;
  height: 1.307rem;
  margin: 0.48rem 0 0 32.534rem;
}

.text_38 {
  width: 2.267rem;
  height: 1.307rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.293rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: right;
  line-height: 0.427rem;
}

.text-wrapper_31 {
  width: 1.254rem;
  height: 0.454rem;
  margin: 0.32rem 0 0 21.92rem;
}

.text_39 {
  width: 1.254rem;
  height: 0.454rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.293rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.427rem;
}

.block_5 {
  width: 19.04rem;
  height: 2rem;
  margin: 1.6rem 0 3.787rem 12.72rem;
}

.image-text_16 {
  width: 4.934rem;
  height: 2rem;
}

.text-wrapper_12 {
  height: 0.534rem;
  background: url(./img/SketchPngf7169c2c510af4cf6893ff4d8884671ea2406c1f70c7051af00ff846e5ef8c8a.png)
    0rem -0.027rem no-repeat;
  background-size: 0.88rem 0.56rem;
  width: 0.854rem;
}

.text_40 {
  width: 0.427rem;
  height: 0.4rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.08rem 0 0 0.24rem;
}

.text-group_19 {
  width: 4.934rem;
  height: 1.2rem;
  margin-top: 0.267rem;
}

.text_41 {
  width: 2.054rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.373rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
}

.text_42 {
  width: 4.934rem;
  height: 0.48rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.454rem;
  margin-top: 0.16rem;
}

.text_43 {
  width: 2.267rem;
  height: 0.454rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.293rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.427rem;
  margin: 0.694rem 0 0 1.307rem;
}

.image-text_17 {
  width: 1.92rem;
  height: 1.36rem;
  margin-left: 1.067rem;
}

.text-wrapper_13 {
  height: 0.534rem;
  background: url(./img/SketchPngf7169c2c510af4cf6893ff4d8884671ea2406c1f70c7051af00ff846e5ef8c8a.png)
    0rem -0.027rem no-repeat;
  background-size: 0.88rem 0.56rem;
  width: 0.854rem;
}

.text_44 {
  width: 0.4rem;
  height: 0.4rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.08rem 0 0 0.24rem;
}

.text-group_11 {
  width: 1.92rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.373rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-top: 0.267rem;
}

.text_45 {
  width: 1.627rem;
  height: 1.307rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.293rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: right;
  line-height: 0.427rem;
  margin: 0.64rem 0 0 3.68rem;
}

.image-text_18 {
  width: 1.6rem;
  height: 1.36rem;
  margin-left: 0.64rem;
}

.text-wrapper_14 {
  height: 0.534rem;
  background: url(./img/SketchPngf7169c2c510af4cf6893ff4d8884671ea2406c1f70c7051af00ff846e5ef8c8a.png)
    0rem -0.027rem no-repeat;
  background-size: 0.88rem 0.56rem;
  width: 0.854rem;
}

.text_46 {
  width: 0.427rem;
  height: 0.4rem;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.32rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.374rem;
  margin: 0.08rem 0 0 0.24rem;
}

.text-group_12 {
  width: 1.6rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.373rem;
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 0.534rem;
  margin-top: 0.267rem;
}

.text-wrapper_18 {
  height: 4.187rem;
  background: url(./img/SketchPng0d105ff46754f20b54d59ffd87112e89ee61f4d73c09f0c87a2cd93f3bd8b0b9.png) -0.027rem
    0rem no-repeat;
  background-size: 6.534rem 4.214rem;
  width: 6.507rem;
  position: absolute;
  left: 24.134rem;
  top: 13.974rem;
}

.text_64 {
  width: 1.227rem;
  height: 1.12rem;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 0.293rem;
  font-family: HarmonyOS_Sans_Medium;
  font-weight: NaN;
  text-align: left;
  line-height: 0.427rem;
  margin: 1.12rem 0 0 2.72rem;
}
